@import "tailwindcss";

td {
    border: 1px solid black;
    padding:5px;
    width: 60px;
    vertical-align: middle;
}

table { 
    page-break-inside:auto 
}

tr { 
    page-break-inside:avoid;
    page-break-after:auto 
}

thead { 
    display:table-header-group 
}
tfoot { 
    display:table-footer-group 
}